[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
django-querycount = "*"
factory-boy = "*"
faker = "*"
pytest = "*"
pytest-django = "*"
pylint = "*"

[packages]
django = "*"
django-environ = "*"
psycopg2 = "*"
whitenoise = "*"
ipython = "*"
brotli = "*"
gunicorn = "*"
django-redis = "*"
django-rq = "*"
django-bootstrap4 = "*"
requests = "*"
sendgrid = "*"
django-sendgrid-v5 = "*"
django-model-utils = "*"
sentry-sdk = "*"
auth0-python = "*"
django-hashid-field = "*"
nameparser = "*"
phonenumberslite = "*"
django-phonenumber-field = "*"
django-address = "*"
django-cloudinary-storage = "*"
django-reversion = "*"
django-names = "*"

[requires]
python_version = "3.9"
